header{
  background-image: url('../images/top.jpg');
  background-size: 100%;
  background-color: #000000;
}
h1{
  text-transform: uppercase;
  color: #f4dd8a;
  text-align: center;
  font-size: 25px;
  padding-top: 1%;
}
nav{
  text-align: center;
}
nav a{
  display: inline-block;
  background-color: rgba(206, 105, 64, .75);
  color: #FFFFFF;
  width: 200px;
  padding: 10px 5px;
  margin: 3%;
  text-decoration: none;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.active{
  background-color: rgb(82, 129, 171);
  color: #FFFFFF;
}
.left{
  display: inline-block;
  float: left;
  width: 15%;
  background-color: #5180AB;
  height: auto;
  min-height: 100vh;
}
.right{
  display: inline-block;
  float: left;
  width: 75%;
  margin-left: 5px;
  font-size: 1.2em;
}
body{
  margin: 1%; 
  padding: 1%;
}
section{
  background-color: #ffffff;
  color: #000000;
}
a{
  background-color: #cccccc;
  color: #000000;
}
img{
  width: 80%;
  display: block;
  margin: 30px auto;
  border: solid;
  border-width: 2px;
}